.FormOutputPaper {
  display: flex;
  flex-direction: column;
  width: 15cm;
  height: 23cm;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 3mm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
.FormOutputBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.topRow {
  display: flex;
  flex-direction: row;
  background-color: red;
}
.skillContent div::before {
  content: "\00B7";
  font-size: 20px;
  margin-right: 3px;
}
.headerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillCellRow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: blueviolet;
  padding: 10px;
}
.infoCell {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-grow: 99;
  background-color: chartreuse;
  padding: 10px;
}
.contactBlock {
  padding: 10px;
}
.infoCellCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.skillCellCol {
  display: flex;
  flex-direction: column;
}
.skillRowCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 200px;
}
.skillHeader {
  font-size: 20px;
  border-bottom: 1px solid black;
  line-height: 30px;
}
.skillSubHeader {
  font-size: 18px;
}
.infoHeader {
  font-size: 20px;
  border-bottom: 1px solid black;
  line-height: 30px;
}
.nameText {
  font-size: 27px;
  font-weight: 600;
}
.titleText {
  font-size: 21px;
}
.infoText {
  font-size: 12.5px;
}
.titleBlock {
  padding: 10px;
}
