.FormOutputPaper {
  display: flex;
  flex-direction: row;
  width: 15cm;
  height: 23cm;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin: 3mm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.FormOutputLeftCol {
  display: flex;
  flex-direction: column;
}
.FormOutputRightCol {
  display: flex;
  flex-direction: column;
}

.FormOutputBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.topRow {
  display: flex;
  flex-direction: row;
  height: 120px;
  padding: 10px;
}
.skillContent div::before {
  content: "\00B7";
  font-size: 20px;
  margin-right: 3px;
}
.infoDescription::before {
  content: "-";
  font-size: 20px;
  margin-right: 3px;
}
.infoName::before {
  content: "\00B7";
  font-size: 20px;
  margin-right: 3px;
}
.headerName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skillCellRow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}
.infoCell {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}
.contactBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 120px;
  font-size: 12px;
}
.infoCellCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.skillCellCol {
  display: flex;
  flex-direction: column;
}
.skillRowCol {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 200px;
}
.skillHeader {
  font-size: 20px;
  border-bottom: 1px solid black;
  line-height: 30px;
}
.skillSubHeader {
  font-size: 18px;
}
.infoHeader {
  font-size: 20px;
  border-bottom: 1px solid black;
  line-height: 30px;
}
.nameText {
  font-size: 27px;
  font-weight: 600;
}
.titleText {
  font-size: 21px;
}
.infoText {
  font-size: 12.5px;
}
.titleBlock {
  display: flex;
  flex-direction: column;
  width: 355px;
  gap: 5px;
}
.contactBlock div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.contactBlock img {
  width: 20px;
}
.date {
  font-size: 12px;
}
.infoDescription,
.gpa {
  font-size: 14px;
}
.infoFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media print {
  .FormOutputPaper {
    box-shadow: none;
    width: auto;
    height: auto;
  }
}
