.inputWrapper {
  position: fixed;
  height: 97vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 100px;
  background-color: aqua;
  gap: 20px;
  overflow-y: scroll;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputBlock h1 {
  font-size: 2em;
  border-bottom: solid black 1px;
}
.inputBlock input {
  height: 35px;
}
